@charset "utf-8";
/**
 * [OElove] (C)2010-2099 phpcoo.com Inc.
 * Email：service@phpcoo.com，phpcoo@qq.com
 * LastTime 2015.06.01 Design by wz $
*/
.user_main {margin-top:10px; background:none;}
.user_main_left {margin-top:0;}
.user_main_middle {margin-top:0; background:#fff; padding-top:5px;}
.main_right {margin-top:0;}
body{background:#fafafa;}
#header{background:#fff;}
.oe_menu{float:right; margin-top:35px;}
.oe_menu ul li{float:left; padding:0px 16px; font-size:16px; line-height:30px;  font-family:Microsoft Yahei;}
.oe_menu ul li a{color:#666;}
.oe_menu ul li.current a{border-bottom:2px solid #f35283; color:#f15481; display:inline-block; font-weight:bold;}

.oe_bmenu{ text-align:left; background:#ff81ac; color:#fff; line-height:45px;}
.oe_bmenucn{width:1000px; margin:0 auto; position:relative;}
.oe_bmenucn span{position:absolute; right:0px; top:2px; font-size:14px; display:inline-block; padding-left:20px; background:url(../images/n/ico_tel.png) left 16px no-repeat;}
#footer .oe_bmenu a{color:#fff; font-size:14px;}

.oe_top{background:#262626; width:100%; height:40px; line-height:40px; font-size:12px;  font-family:Microsoft Yahei;}
.oe_topcn{width:1000px; margin:0 auto; color:#fff; height:40px; line-height:40px;}
.oe_toplogin{float:left;}
.oe_toplogin input[type='text'],.oe_toplogin input[type='password']{border:none; border-radius:1px; height:20px; line-height:20px; width:100px; background:#fafafa;}
.oe_toplogin input#checkcodes{width:40px;}
.oe_topcn a{color:#fff;  font-family:Microsoft Yahei;}
.oe_toplogin .login_button{background:#ff81ac; color:#fff; border:none; height:22px;  width:45px; cursor:pointer;}

.n_top{ width:100%; height:100px;}
.nn_top{ width:1000px; height:100px; overflow:hidden; margin:0 auto;}
.n_logo{ float:left; width:200px; overflow:hidden; height:100px;}
.n_top_banner{ width:450px; height:100px; overflow:hidden; float:left; }
.n_top_right{ float:right; width:300px; overflow:hidden; height:100px; margin-top:10px;font-family:宋体;}
.n_top_right .n_topp{font-family:宋体;font-size:12px;}
.n_top_right .n_topp a{font-family:宋体;font-size:12px;}
.n_top_right .n_tops a{ font-family:宋体;  font-size:12px;}
.n_tops{ width:300px; height:40px; overflow:hidden; text-align:right; float:right;}
.n_tops_1{display:block; width:50px; overflow:hidden; height:50px;float:left; background:url("../../templets/default/themes/images/n/t3.png") 0px 12px no-repeat; padding-left:15px; margin-left:80px;}
.n_tops_2{display:block; width:50px; overflow:hidden; height:50px;float:left; background:url("../../templets/default/themes/images/n/t2.png") 0px 12px no-repeat; padding-left:20px; margin-left:10px;}
.n_tops_3{display:block; width:50px; overflow:hidden; height:50px;float:left; background:url("../../templets/default/themes/images/n/t4.png") 0px 12px no-repeat; padding-left:15px;margin-left:10px;}


.user_main_right{background:#fff; padding:5px;}
.oe_index_uL_top,.user_menu_item,.user-rt-box,.oe_index_wei{background:#fff;}
.oe_hr{background:none;}